<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Autenticación de Usuario</ion-title>
    <ion-buttons slot="end">
        <ion-text color="light" class="ion-padding-end">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-background" fullscreen>

  <div class="overlay"></div>

  <div class="auth-container">

    <div class="logo-box">
      <img src="assets/camion.png" alt="Logo" class="logo">
      <h2 class="title">CAMIONES XZ</h2>
    </div>

    <h3 class="subtitle">Chat en Vivo de Camiones XZ</h3>
    <p class="subtext">Conéctate con un experto en minutos</p>

    <!-- LOGIN -->
    <div *ngIf="modo === 'login'" class="form-box">

      <ion-item class="input-field" lines="none">
        <ion-input placeholder="Correo electrónico" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-chat" (click)="login()">INICIAR CHAT</ion-button>

      <p class="change-mode">
        ¿No tienes cuenta?
        <span (click)="cambiarModo('registro')">Regístrate</span>
      </p>

    </div>

    <!-- REGISTRO -->
    <div *ngIf="modo === 'registro'" class="form-box">

      <ion-item class="input-field" lines="none">
        <ion-input placeholder="Nombre Completo" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-input placeholder="Correo Electrónico" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item class="input-field" lines="none">
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-chat" color="danger" (click)="registrar()">REGISTRAR</ion-button>

      <p class="change-mode">
        ¿Ya tienes cuenta?
        <span (click)="cambiarModo('login')">Inicia sesión</span>
      </p>

    </div>
  </div>

</ion-content>
